<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069366085387-squnl2em3f2015p64krag4goq36r143f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069366085387-squnl2em3f2015p64krag4goq36r143f</string>
	<key>API_KEY</key>
	<string>AIzaSyDNlDq0cGJf3afEyK-2WyoDD10WQmLJLS0</string>
	<key>GCM_SENDER_ID</key>
	<string>1069366085387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mila.lyutok.BuyList</string>
	<key>PROJECT_ID</key>
	<string>buylist-e4397</string>
	<key>STORAGE_BUCKET</key>
	<string>buylist-e4397.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069366085387:ios:40ff30be3cc9f948b2c40e</string>
</dict>
</plist>